@model Cv.Entity.Classes.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Hakkımda Düzenleme Paneli</h4>
				
				<div class="form-group">
					<label for="exampleInputName1"> ID </label>
					@Html.TextBoxFor(x=>x.AboutID, new {@class = "form-control"})
				</div>
				<div class="form-group">
					<label for="exampleInputEmail3"> Başlık </label>
					@Html.TextBoxFor(x=>x.Title, new {@class = "form-control"})
				</div>
				<div class="form-group">
					<label for="exampleInputEmail3"> Yaş </label>
					@Html.TextBoxFor(x=>x.Age, new {@class = "form-control"})
				</div>
				<div class="form-group">
					<label for="exampleInputEmail3"> Adres </label>
					@Html.TextBoxFor(x=>x.Address, new {@class = "form-control"})
				</div>
				<div class="form-group">
					<label for="exampleInputPassword4"> Ekelenecek Resim </label>
					@Html.TextBoxFor(x=>x.ImageUrl, new {@class = "form-control"})
				</div>
				<div class="form-group">
					<label for="exampleInputPassword4">Açıklama</label>
					@Html.TextAreaFor(x=>x.Description,10,3, new {@class = "form-control"})
				</div>				
				<button class="btn btn-primary mr-2">Kaydet</button>
				<a href="/Dashboard/Index" class="btn btn-dark">Geri Dön</a>

			</div>
		</div>
	</div>
}